.navbar-brand img {
    width:150px !important;
}
section{
    margin-top: 25px;
}
article {
    background-color: #E37222;
}

aside {
    background-color: #07889B;
}

.Column {
    border-bottom: 1px solid #F6F7F4;
}

.Column02 {
    border-right: 1px solid #F6F7F4;
}

.Column03 {

}

#links-footer a {
    border-bottom: 1px solid black;
}

.Icons a{
    font-size: 50px;
    color: black;
}